{% extends "notificationApp/base.html" %}
{% block content %}
      <article class="media content-section mt-2 mb-2 p-2">
        <div class="media-body">
          <img class="w-50 mt-4 pt-4" src="{{ author.profile.image.url }}">
          <div class="article-metadata">
            <p class="article-content">
            	Hi, guys! Welcome to my website. I'm Nguyen, a college student at Luther Collge. This is a side project that I do in my free time. Essentially, how it work is you create an account on our website. After that, just create lists of games and add games that you either want to be notify when there is a discount for it on Steam or when it's released onto that specific list. Then, you want to make sure you've hit the subscribed button on the lower left to allow for notification (You only need to do it once, even if it still show the message "Subscribe to Push Messaging" after you refresh any page). Yep, and you're done, the site will automatically notify you at 5 am UTC daily. I hope you will enjoy it!
            </p>
          </div>
          <div class="article-metadata">
            <p class="article-content">
            	Also, I have a small hobby of writing my own raps for fun and upload it on to Soundcloud. Therefore, if you are interested, you could check it out and give me feedback so I could improve myself. The link is <a href="https://soundcloud.com/xgum">here</a>. Thank you so much for your time.
            </p>
          </div>
          <div class="article-metadata">
          	<a class="nav-item nav-link" href="https://www.facebook.com/profile.php?id=100004407015219"><i class="fab fa-facebook"></i> My Facebook Page</a>
          	<a class="nav-item nav-link" href="https://www.instagram.com/nguyenshanic/"><i class="fab fa-instagram"></i> My Instagram</a>
          	<a class="nav-item nav-link" href="https://twitter.com/darkshanic"><i class="fab fa-twitter"></i> My Twitter</a>
          	<a class="nav-item nav-link" href="https://soundcloud.com/xgum"><i class="fab fa-soundcloud"></i> My Soundcloud</a>
          	<a class="nav-item nav-link" href="https://github.com/shagumnic"><i class="fab fa-github"></i> My Github</a>
          </div>
        </div>
      </article>
{% endblock content %}