{% load static %}
{% load webpush_notifications %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'notificationApp/main.css' %}">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/shortcuts/infinite.min.js' %}"></script>
  {% webpush_header %}
	{% if title %}
        <title>Shagum's Notification Web - {{ title }}</title>
    {% else %}
        <title>Shagum's Notification Web</title>
    {% endif %}
</head>
<body>
	<header class="site-header mb-4">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home-notification' %}">Shagum's Notification Web</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home-notification' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'about-notification' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {%if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'user-lists' user.username%}">Your list</a>
                  <a class="nav-item nav-link" href="{% url 'videogameslist-create' %}">Create list</a>
            	    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            	    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            	  {%else%}
	                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
	                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                {%endif%}
            </div>
          </div>
        </div>
      </nav>
  </header>
  <main role="main" class="container h-100">
    <div class="row h-100">
      <div class="col-md-8">
        <div class = "mt-3 pt-5 ">
          {% if messages %}
            <div class="messages">
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                    <div {% if message.tags %} class="alert alert-success {{ message.tags }}" {% endif %}>
                        {% if message.tags == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </div>
                  {%elif message.tags == 'error' %}
                    <div {% if message.tags %} class="alert alert-danger {{ message.tags }}" {% endif %}>
                        {% if message.tags == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
          {% endif %}
        </div>
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4 mt-4">
        {% block right_side_bar %}{% endblock%}
      </div>
    </div>
  </main>
  <footer class="site-footer mb-4">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
      <div class="container">
            <p>You will have to subscribe in order to receive notification: {% webpush_button with_class="btn btn-outline-info" %}</p>
      </div>
    </nav>
  </footer>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script>
    function updateRangeInput(elem) {
      $(elem).next().val($(elem).val());
    }
  </script>
</body>
</html>